@use "../scss/abstracts/" as *;

.container {
  @include flex();
  width: 100vw;
  height: 40px;

  & > :first-child {
    text-align: center;
    width: 50%;
  }
  .divider {
    border: 1px solid var(--secondaryColor);
    height: 90vh;
  }
  & > :last-child {
    width: 50%;
    text-align: center;
  }
}
