@use "../scss/abstracts/" as *;

.container {
  width: 100vw;
  height: calc(100vh - $mainHeaderSize);

  .titles {
    @include flex(row, center, flex-start);
    background-color: var(--primaryColor);
    color: #fff;
    height: $mainHeaderSize;
    padding-top: $mediumSpacing;
    // margin-bottom: $mediumSpacing;
    font-size: 1.5rem;
    text-align: center;
    & > :first-child {
      width: 50%;
    }

    & > :last-child {
      width: 50%;
    }
  }

  .sections {
    @include flex(row, center, flex-start);
    overflow: hidden;
    // height: calc(100vh - ($mainHeaderSize + $mainHeaderSize + $largeSpacing));
    // height: 500px;
    & > :first-child {
      width: 50%;
    }
    .divider {
      border: 1px solid var(--secondaryColor);
      height: 80vh;
    }
    & > :last-child {
      width: 50%;
    }
  }
}
