@use "../scss/abstracts/" as *;

header {
  @include flex(row, center, center);
  position: fixed;
  inset: 0;
  width: 100%;
  height: $mainHeaderSize;
  padding: $mediumSpacing $largeSpacing;
  background-color: var(--bgc);
  color: var(--text-color);

  animation: bgc 4s linear alternate infinite;

  & > span {
    // color: var(--rejected-textColor);
    padding: 0 $smallSpacing;
  }

  // Themebox
  & > :last-child {
    position: absolute;
    left: 0;
    margin-right: auto;
  }
}

@include keyframes(bgc) {
  100% {
    background: rgb(random(255), random(255), random(255));
  }
}
