@use "../scss/abstracts/" as *;

header {
  @include flex(row, center, center);
  position: fixed;
  inset: 0;
  width: 100%;
  height: $mainHeaderSize;
  padding: $mediumSpacing $largeSpacing;
  background-color: var(--bgc);
  color: var(--text-color);

  transition: all ease 5s;

  & > span {
    // color: var(--rejected-textColor);
    padding: 0 $smallSpacing;
  }
}
