@use "../scss/abstracts/" as *;

.ldsDualRing {
  display: inline-block;
  width: 64px;
  height: 64px;

  &:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--primaryColor);
    border-color: var(--primaryColor) transparent var(--primaryColor)
      transparent;
    @include animate(rotating, 1s, linear, infinite);
  }
}

.loadingSpinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff62;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@include keyframes(rotating) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
